@import 'util/styles/k9ocrs-bootstrap';

// Testing color swatches
.ivms-white {
  background-color: $white !important;
}
.ivms-gray-100 {
  background-color: $gray-100 !important;
}
.ivms-gray-200 {
  background-color: $gray-200 !important;
}
.ivms-gray-300 {
  background-color: $gray-300 !important;
}
.ivms-gray-400 {
  background-color: $gray-400 !important;
}
.ivms-gray-500 {
  background-color: $gray-500 !important;
}
.ivms-gray-600 {
  background-color: $gray-600 !important;
}
.ivms-gray-700 {
  background-color: $gray-700 !important;
}
.ivms-gray-800 {
  background-color: $gray-800 !important;
}
.ivms-gray-900 {
  background-color: $gray-900 !important;
}
.ivms-black {
  background-color: $black !important;
}
.ivms-blue {
  background-color: $blue !important;
}
.ivms-indigo {
  background-color: $indigo !important;
}
.ivms-purple {
  background-color: $purple !important;
}
.ivms-pink {
  background-color: $pink !important;
}
.ivms-red {
  background-color: $red !important;
}
.ivms-orange {
  background-color: $orange !important;
}
.ivms-yellow {
  background-color: $yellow !important;
}
.ivms-green {
  background-color: $green !important;
}
.ivms-teal {
  background-color: $teal !important;
}
.ivms-cyan {
  background-color: $cyan !important;
}
