@import '../../app.scss';

.k9-navbar.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  > .container-fluid {
    padding: 0;
  }
}

@include media-breakpoint-up(sm) {
  .k9-navbar.navbar {
    padding-left: 2.5rem;
    padding-right: 3.5rem;
  }
}
