@import '../../../app.scss';

.avatar {
  &__image-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(40%);
    background-color: $dark;
    margin: .25rem;
  }

  &__image {
    clip-path: circle(40%);
    object-fit: cover;
  }
}