@import 'util/styles/k9ocrs-vars';

body {
  background-color: $body-bg;
}

.k9ocrs-layout {
  min-height: 100vh;

  &__container {
    min-height: 100vh;
    background: $body-bg;
    margin: 0 10vw;
    padding: 8.1rem 4rem 8rem 4rem; // top 4.1rem to account for the navbar + 4rem of spacing
  }
}
