@use '../../../app.scss';

.dogSetup {
    &__editor {
        &__profile-picture {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15%;
        }
    }
}
