// These variables override the colors that come from the bootstrap stylesheets, don't change the names or they'll stop working

// Base gray-scale
$white:    #fff;
// $gray-100: #f8faf8;
// $gray-200: #eaefe9;
// $gray-300: #dee6df;
// $gray-400: #cedacf;
// $gray-500: #adbdae;
// $gray-600: #6c7d6c;
// $gray-700: #495749;
// $gray-800: #344035;
// $gray-900: #212922;
$gray-100: #F4F6F4;
$gray-200: #E9EDE9;
$gray-300: #C8D1C7;
$gray-400: #A7B5A6;
$gray-500: #869985;
$gray-600: #677A66;
$gray-700: #546454;
$gray-800: #414E41;
$gray-900: #262C26;
$black:    #000;

// Base color-wheel
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #DC3545;
$orange:  #fd7e14;
$yellow:  #FFC107;
$green:   #1ECC46;
$teal:    #20c997;
$cyan:    #17A2B8;

$accent: #3454D1; // maybe for some touches?

// Theme Colors
$primary: #7DB06F;
$secondary: $gray-700; //#6C7D6E;
