@use '../../../_app.scss';

.pageHeader {
  &__breadcrumbs {
    display: inline-block;
        background-color: app.$gray-100;
        padding: 0.6rem 1.2rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;

    .breadcrumb {
      margin-bottom: 0;

      a.breadcrumb-item {
                &.active,
                &:disabled {
          pointer-events: none;
          touch-action: none;
          text-decoration: none;
        }
      }
    }
  }
}