.k9ocrs-loader {
  padding: 2rem;
  background: transparent;

  $transparency: 0.1;

  &--gradient-top {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, $transparency) 0%,
      transparent 50%
    );
  }

  &--gradient-horizontal {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, $transparency) 0%,
      transparent 50%,
      rgba(0, 0, 0, $transparency) 100%
    );
  }

  &--gradient-vertical {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, $transparency) 0%,
      transparent 50%,
      rgba(0, 0, 0, $transparency) 100%
    );
  }
}
