@import '../../../app.scss';


$inner-border-width: 1px !default;
$outer-border-width: 4px !default;
$top-row-bg-color: rgba($primary, 0.16) !default;

.k9-table {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__table {
    margin: 2rem 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;

    th, td {
      padding: .25rem 1.25rem;
      border: outset rgba(0,0,0, 0.125);
      border-width: $inner-border-width;
    }

    thead {
      tr {
        color: $gray-100;
        background-color: $secondary;
      }
      th {
        border-top-width: $outer-border-width;
      }
      th:first-of-type {
        border-radius: .5rem 0 0 0;
        border-left-width: $outer-border-width;
      }
      th:last-of-type {
        border-radius: 0 .5rem 0 0;
        border-right-width: $outer-border-width;
      }
    }
    tbody {
      tr {
        color: $body-color;
        background-color: $gray-100;

        &.k9-table__top-row {
          background-color: $top-row-bg-color;
        }
      }
      tr {
        td:first-of-type {
          border-left-width: $outer-border-width;
        }
        td:last-of-type {
          border-right-width: $outer-border-width;
        }
      }
      tr:last-of-type {
        td {
          border-bottom-width: $outer-border-width;
        }
        td:first-of-type {
          border-radius: 0 0 0 .5rem;
        }
        td:last-of-type {
          border-radius: 0 0 .5rem 0;
        }
      }
    }
  }

  &__extras-container {
    display: flex;
    justify-content: space-between;
  }

  &__pagination-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__footnotes-container {
    flex: 1;
    p {
      margin: 0;
      margin-bottom: .5rem;
      color: $text-muted;
    }
  }
}