@import '../../util/colors.scss';

.pageHeader {
  &__breadcrumbs {
    display: inline-block;
    background-color: $gray-100;
    padding: .6rem 1.2rem;
    border-radius: .25rem;
    margin-top: .5rem;

    .breadcrumb {
      margin-bottom: 0;

      a.breadcrumb-item {
        &.active, &:disabled {
          pointer-events: none;
          touch-action: none;
          text-decoration: none;
        }
      }
    }
  }
}