
<div id="react-root" class="react-root"></div>
<script src="~/dist/k9ocrs.module.js" asp-append-version="true"></script>
<environment names="Development">
    <script src="http://localhost:35729/livereload.js"></script>
</environment>
