@import '../../../app.scss';

.file-thumbnail {
    position: relative;
    display: inline-flex;
    width: 126px;
    height: 126px;
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: $gray-100;
    border: 1px solid $gray-200;
    border-radius: 0.25rem;
    font-size: 0.75rem;

    &:hover {
        box-shadow: $box-shadow-sm;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.65rem;
        height: 1.65rem;
        padding: 0.1rem;
        z-index: 999;
        color: $danger;
        background-color: $gray-100;
        border-radius: 50%;
        transition-duration: 100ms;
        transition-property: color, width, height;

        &:hover {
            cursor: pointer;
            color: lighten($danger, 10);
            width: 1.85rem;
            height: 1.85rem;
        }
    }

    &__name {
        position: absolute;
        bottom: 0;
        background-color: $gray-100;
        padding: 0.1rem 0.25rem;
    }
}

@include media-breakpoint-up(sm) {
    .file-thumbnail {
        width: 156px;
        height: 156px;
    }
}
