@use 'util/_bootstrapOverrides.scss';
@forward 'util/_bootstrapOverrides.scss';

body {
    padding-bottom: 8rem;
}

.pagebody {
    overflow: hidden visible;
}

@include bootstrapOverrides.media-breakpoint-up(sm) {
    body {
        padding-top: var(
            --navbar-height
        ); // This is to account for the navbar being position: fixed
    }
}
